.main {
    display: flex;
    flex-direction: column;
    padding-left: 116px;
    padding-right: 100px;
    justify-content: center;
    padding-top: 80px;
    padding-right: 100px;

    h1 {
      color: #000;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px; /* 102.941% */
      letter-spacing: 2.72px;
      margin-bottom: 5px;

      span {
        color: #2ac0a5;
      }
    }

    .underline {
      width: 132px;
      height: 5px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #2ac0a5;
      margin-bottom: 25px;
    }
    .inputText {
      border: none;
      border-bottom: 1px solid #f3f3f3;
      color: #bebcbc;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px; /* 250% */
      letter-spacing: 1.12px;
      outline: none;
      margin-bottom: 23px;
      transition: all 0.3s;
      &:focus {
        border-bottom: 1px solid black;
      }
    }
    .forgorPassword {
      color: #bebcbc;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px; /* 218.75% */
      letter-spacing: 1.28px;
      margin-bottom: 10px;

      a {
        color: #2ac0a5;
      }
    }
    .terms {
      display: flex;
      gap: 24px;
      align-items: center;
      margin-bottom: 21px;
      color: #bebcbc;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1.12px;

      input {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
    .submit {
      text-align: center;
      width: 513px;
      height: 57px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #2ac0a5;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: 35px; /* 218.75% */
      letter-spacing: 1.28px;
      border: 2px solid #2ac0a5;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background: #fff;
        color: #3ddabe;
      }
    }
    .end {
      display:flex;
      width: 513px;
      text-align: center;
      flex-direction: column;
      

      .gugel {
        display: flex;
        margin-top: 46px;
        margin-bottom: 46px;

        img {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          margin-right: 12px;
        }
        #google {
          width: 23px;
          height: 27px;
          flex-shrink: 0;
        }
        p {
          margin-left: 42px;
          margin-right: 50px;
        }
      }
      .other {
        color: #bebcbc;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px; /* 218.75% */
        letter-spacing: 1.28px;
        
        a {
          color: #2ac0a5;
        }
    }
}
    }