.all{
  background-image: url(../../assets/icons/aboutusbg.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;

.start {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: var(--Gray-1, #333);
    font-size: 36px;
    font-weight: 900;
    line-height: 138%; /* 49.68px */
    text-transform: uppercase;
    margin-top: 50px;
  }
  p {
    width: 70px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3ddabe;
  }

  .highlight {
    color: #3ddabe;
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 50px 150px 45px 190px;

 

  .left {
 
    p {
      width: 495px;
      height: 178px;
      flex-shrink: 0;
      color: var(--Gray-1, #333);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 151.5%; /* 24.24px */
      margin-bottom: 20px;
    }
    a {
      flex-shrink: 0;
      border-radius: 10px;
      background: #3ddabe;
      box-shadow: 0px 20px 20px -12px rgba(61, 218, 190, 0.4);
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 151.5%; /* 24.24px */
      padding:18px 10px;
      border: 2px solid #3DDABE;
      transition: all .3s;

      &:hover {
        background: #FFF;
        color: #3DDABE;
      }
    }
  }
  img {
    width: 500px;
    height: 278px;
    flex-shrink: 0;
  }
}
}